.flash-image-bg{
  z-index: 9999999999999999999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  .close-flash-img{
    visibility: none;
  }
  img{
    position: absolute;
    width: 70vw;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
