@import url('https://www.fontify.me/wf/294924b34e5b0346b73bbec5387f0777');
@import url('https://fonts.googleapis.com/css?family=Concert+One');
@import 'media';
@import 'flashImage';
$font-header: 'font37478';
$box-shadow: 2px 4px 7px rgba(0,0,0,0.4);
@mixin paragraph-style(){
  margin-top: 20px;
  line-height: 1.6em;
}
@mixin button($bg, $color, $color-hover){
  position: relative;
  width: 200px;
  height: 50px;
  margin-top: 10px;
  background-color: $bg;
  border: 0;
  color: $color;
  font-size: 20px;
  cursor: pointer;
  box-shadow: $box-shadow;
  overflow: hidden;
  span{
    width: 100%;
    margin-top: 50%;
    transform: translateY(-50%);
    position: relative;
    z-index: 99999999999;
  }
  &::after{
    content: '';
    position: absolute;
    top: -5px;
    left: 0;
    width: 50px;
    height: 60px;
    background-color: $color-hover;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 90%;
    transition: .4s;
    z-index: 4;
    opacity: 0;
  }
  &:hover::after{
    top: -20px;
    width: 250px;
    height: 100px;
    opacity: 0.9;
  }
}

@mixin active-link($width, $transition){
  &:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: $width;
    height: 5px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f88d71;
    transition: $transition;
  }

}

*{
  padding: 0;
  margin: 0;
}
div{
  box-sizing: border-box;
}
body{
  overflow-x: hidden;
}
nav{
  position: fixed;
  width: 100vw;
  height: 100px;
  background-color: transparent;
  z-index: 999;
  transition: .6s;
  img{
    margin-left: 60px;
    margin-top: 25px;
  }
  a{
    cursor: pointer;
  }
  ul#classic-menu{
    position: absolute;
    top: 20px;
    right: 10%;
    li{
      position: relative;
      display: inline-block;
      height: 50px;
      padding: 20px;

      a{
        text-decoration: none;
        color: #000;
        font-weight: bold;
        @include active-link(0, .3s);
        transition: .3s;
        &:hover::after{
          width: 100%;
        }
        &.active{
          @include active-link(100%, .3s)
        }
      }

    }
  }

  ol#rwd-menu{
    .fa-bars{
      display: block;
      position: absolute;
      cursor: pointer;
      top: 10px;
      right: 10%;
      font-size: 2.8em;
      text-align: center;
      &.close-menu{
        & ~ ul{
        visibility: hidden;
        }
      }
    }

    &>ul{
      display: block;
      position: absolute;
      background-color: rgba(255, 255, 255, 0.9);
      padding-bottom: 15px;
      width: 100vw;
      top: 100px;
      a{
        display: block;
        text-decoration: none;
        text-align: center;
        color: #000;
        width: 100vw;
        height: 50px;
        line-height: 50px;
        &:hover{
          background-color: orange;
        }
        &.rwd-active{
          background-color: orange;
        }
      }
    }
  }
}
.scroll-nav{
  background-color: rgba(255, 255, 255, 0.9);
}
.section{
  width: 100vw;
  box-sizing: border-box;
}
#fresh-life{
  min-height: 100vh;
  background-image: url("../img/fresh-life-bg.png");
  background-size: cover;
  background-repeat: no-repeat;;
  h1{
    font-family: $font-header;
    font-weight: bold;
    font-size: 3.6em;
  }
  p{
    width: 320px;
    text-align: justify;
    @include paragraph-style();
  }
  #get-free{
    @include button(#ff6033, #FFF, #f88d71);
  }
  #scroll{
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
  }
}

#about-us{
  padding-bottom: 100px;
  background-color: #00b2b2;
  min-height: 70vh;
  padding-top: 5%;
  display: flex;
  flex-wrap: wrap;
  #about-us-desc{
    padding-top: 6%;
    color: #FFF;
    h1{
      font-family: $font-header;
      font-size: 3.6em;
      color: #FFF;
    }
    p{
      margin-top: 8px;
      line-height:1.6em;
    }
  }
}

#our-services{
  padding-top: 80px;
  padding-bottom: 40px;
  display: flex;
  flex-wrap: wrap-reverse;
  min-height: 70vh;
  background-color: #70bfff;
  #our-features{
    min-height: 300px;
    display: flex;
    flex-direction: column;
    padding-top:: 5%;
    position: relative;
    .feature{
      display: flex;
      height: 72px;
      width: 320px;
      box-shadow: $box-shadow;
      background-color: #FFF;
      margin: 0 auto;
      margin-bottom: 20px;
      overflow: hidden;
      span{
        padding-top: 25px;
        height: 72px;
        width: 200px;
        font-size: 17px;
        text-align: center;
        margin-right: 26px;
        border-right: solid 1px #000;
      }
      img{
        transform: scale(0.8);
      }
    }
  }
  #our-services-header{
    position: relative;

     min-height: 250px;
    h1{
      position: absolute;
      width: 100%;
      text-align: center;
      top: 30%;
      font-family: $font-header;
      color: #FFF;
      z-index: 10;
    }
    img{
      position: relative;
      margin-left: 50%;
      transform: translateX(-50%);
    }
  }
}

#gallery{
  min-height: 110vh;
  background-color: #ffe92f;
  padding-top: 45px;
  padding-bottom: 60px;
  h1{
    font-family: $font-header;
    font-size: 3.6em;
    text-align: center;
  }
  p{
    font-size: 20px;
    @include paragraph-style();
    margin-bottom: 2%;
    text-align: center;
  }
  #gallery-container{
    margin: 0 auto;
    img{
      cursor: pointer;
      box-shadow: $box-shadow;
    }
    #gallery-header{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;;
      #addictional-photo{
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
      }
    }
  }
  .view-more{
    display: block;
    @include button(#5585a2, #FFF, #709dba);
    margin: 0 auto;
    margin-top: 60px;
  }
}

#subscribe{
  min-height: 450px;
  background-image: url("../img/sub-bg.png");
  background-position: 40% 0;
  background-repeat: no-repeat;
  padding-bottom: 150px;
  padding-top: 5%;

  h1{
    font-family: 'Concert One', cursive;
    font-weight: 80;
    font-size: 2.5em;
  }
  p{
    @include paragraph-style();
    max-width: 500px;
    margin: 40px 0;
  }

  input[type="text"]{
    height: 50px;
    border: 1px solid #464646;
    padding-left: 15px;
  }
  button{
    @include button(#97BA2C, #FFF, #b5d554);
  }
}

#blog{
  min-height: 70vh;
  padding: 5% 0;
  background-color: #b07cf8;
  color: #FFF;
  h1{
    font-family: $font-header;
    font-weight: bold;
    font-size: 4.8em;
    text-align: center;
  }
  p{
    @include paragraph-style();
    margin: 0 auto;
    margin-top: 20px;
  }
  #post-container{
    width: 100%;
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .post{
      position: relative;
      width: 370px;
      height: 310px;
      margin-top: 20px;
      padding: 10px;
      background-color: red;
      margin-left: 10px;
      box-shadow: $box-shadow;
      overflow: hidden;
      cursor: pointer;
      &:hover img{
        transform: scale(1.1);
      }
      &:after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(top, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.8));
        background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.8));
        z-index: 2;
      }
      .date{
        box-sizing: content-box;
        display: block;
        position: absolute;
        top: 20px;
        left: 20px;
        width: 60px;
        height: 60px;
        padding: 6px;
        text-align: center;
        color: #FFF;
        font-weight: bold;
        font-size: 25px;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 6px;
        z-index: 3;
      }
      h2{
        z-index: 12;
        position: relative;
        margin-top: 53%;
        color: #FFF;
      }
      span{
        display: block;
        position: relative;
        margin-top: 15px;
        color: #FFF;
        opacity: 1;
        font-size: 15px;
        z-index: 12;
      }
      img{
        position: absolute;
        top: 0;
        left: 0;
        transition: .3s linear;
      }
    }
  }
  .blog-button{
    display: block;
    @include button(#f72b3b, #FFF, #f96872);
    margin: 0 auto;
    margin-top: 60px;
  }
}
#contact{
  min-height: 100vh;
  background-image: url("../img/contact-bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 5% 0;
  h1{
    text-align: center;
    font-family: $font-header;
    color: #333;
  }
  p{
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 19px;
    max-width: 400px;
    padding: 0 20px 0 20px;
    @include paragraph-style();
  }
  #contact-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 30px;
    #form, #address{
      min-height: 350px;
      margin-top: 20px;
    }
    #form{
      display: flex;
      flex-flow: column nowrap;
      align-items: flex-start;
      input[type="text"], textarea{
        display: block;
        box-sizing: border-box;
        background-color: rgba(0, 196, 196, 0.5);
        color: #FFF;
        padding-left: 10px;
        border: none;
        &:focus{
          border-left: 6px solid rgba(53, 91, 160, 0.5);
          font-weight: bold;
        }
        &::-webkit-input-placeholder {
          color: #FFF;
          font-size: 15px;
        }
        &::-o-input-placeholder {
          color: #FFF;
          font-size: 15px;
        }
        &::-moz-input-placeholder {
          color: #FFF;
          font-size: 15px;
        }
        &::-ms-input-placeholder {
          color: #FFF;
          font-size: 15px;
        }
      }
      textarea{
        padding: 15px;
      }
    }
    #address{
      span{
        display: block;
        margin-bottom: 20px;
      }
    }
  }
}
footer{
  background-color: #333;
  color: #FFF;
  height: 70px;
  padding-top: 20px;
  ul{
      display: flex;
      justify-content: space-around;
      align-items: center;
      li{
        list-style-type: none;
        font-size: 15px;
      }
      li:last-child{
        font-weight: 600;
        span{
          color: #ff2b58;
        }
      }
  }
}
