//gallery
@media (max-width: 1200px){
  #classic-menu{
    display: none;
  }
  #gallery-container{
    img{
      width: 100vw;
      height: auto;
      margin-bottom: 20px;
    }
  }
  #subscribe{
    p{
      padding: 9px;
    }
    input[type="text"]{
      width: 87vw;
    }
  }
  footer{
    li{
      display: none;
    }
    li:last-child{
      display: block;
    }
  }
}
@media (min-width: 1200px){

  #rwd-menu{
    display: none;
  }
  #gallery-container{
    max-width: 1200px;
  }
  #gallery-header{
    #main-photo{
      img{
        height: 560px;
      }
    }
    #addictional-photo{
      padding-bottom: 5px;
      img{
        height: 260px;
      }
    }
  }
  .gallery-row{
    img{
      width: 570px;
      height: auto;
    }
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
  }
  #subscribe{
    input[type="text"]{
      width: 500px;
    }
  }
}



@media (min-width: 800px){
  .section{
    padding-left: 10%;
  }
  #fresh-life{
    min-height: 100vh;
    padding-top: 270px;
    background-position: center;
    #scroll{
      position: absolute;
      bottom: 60px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  #about-us{
    #photo-plate{
      width: 40%;
      img{
        width: 90%;
        height: auto;
      }
    }
    #about-us-desc{
      padding-top: 6%;
      width: 60%;
      box-sizing: border-box;
      padding-left: 20px;
      p{
        width: 60%;
      }
    }

  }

  #our-features{
    width: 45%;
  }
  #our-services-header{
    width: 55%;
    h1{
      font-size: 5em;
    }
    img{
      width: 60%;
      height: auto;
    }
  }

  #blog{
    p{
      width: 40%;
      text-align: center;
    }
  }
}

#contact{
  h1{
    font-size: 6.3em;
  }
  #form, #address{
    width: 550px;
  }
  #form{
    input[type="text"]{
      width: 500px;
      height: 50px;
      margin-bottom: 20px;
    }
    textarea{
      width: 500px;
      height: 300px;
      resize: none;
    }
  }

  #address{
    padding-left: 30px;
  }

}

@media (max-width: 800px){
  .section{
    padding-left: 3%
  }
  #fresh-life{
    min-height: 105vh;
    padding-top: 220px;
    background-position: 30% 20%;
    #scroll{
      position: absolute;
      bottom: 30px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  #about-us{
    #photo-plate{
      margin-top: 25px;
      width: 100%;
      text-align: center;
      img{
        width: 70%;
        height: auto;
      }
    }
    #about-us-desc{
      width: 100%;
      p{
        width: 90%;
      }
    }
  }

  #our-features{
    width: 100%;
    .feature{
      font-size: 4em;
    }
  }

  #our-services-header{
    width: 100%;
    h1{
      font-size: 2.8em;
    }
    img{
      width: 40%;
      height: auto;
    }
  }

  #blog{
    p{
      width: 90%;
      text-align: justify;
    }
  }


  #contact{
    h1{
      font-size: 4.2em;
    }
    p{
      width: 99%;
    }
    #form, #address{
      width: 100%;
      margin-top: 30px;
    }
    #form{
      input[type="text"]{
        width: 90vw;
        height: 50px;
        margin: 0 0 10px 10px;
      }
      textarea{
        width: 90vw;
        height: 250px;
        margin: 0 0 10px 10px;
        resize: none;
      }
    }
    #address{
      display: none;
    }
  }
}
