@media (min-width: 800px){
  .section{
    padding-left: 10%;
  }
  #fresh-life{
    padding-top: 270px;
    background-position: center;
  }
  #about-us{
    #photo-plate{
      width: 40%;
      img{
        width: 90%;
        height: auto;
      }
    }
    #about-us-desc{
      padding-top: 6%;
      width: 60%;
      box-sizing: border-box;
      padding-left: 20px;
      p{
        width: 60%;
      }
    }

  }

  #our-features{
    width: 45%;
  }
  #our-services-header{
    width: 55%;
    h1{
      font-size: 5em;
    }
    img{
      width: 60%;
      height: auto;
    }
  }

  //gallery
  #gallery{
    #gallery-container{
      width: 1000px;
    }
    #row-header{
      min-height: 400px;
      #main-photo{
        width: 600px;
        img{
          width: 600px;
          height: auto;
        }
      }
      #addictional-photo{
        width: 400px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        img{
          width: 300px;
          height: auto;
        }
      }
    }
  }

}

@media (max-width: 800px){
  .section{
    padding-left: 3%
  }
  #fresh-life{
    padding-top: 220px;
    background-position: 30% 20%;
  }
  #about-us{
    #photo-plate{
      margin-top: 25px;
      width: 100%;
      text-align: center;
      img{
        width: 70%;
        height: auto;
      }
    }
    #about-us-desc{
      width: 100%;
      p{
        width: 90%;
      }
    }
  }

  #our-features{
    width: 100%;
    .feature{
      font-size: 4em;
    }
  }
  #our-services-header{
    width: 100%;
    h1{
      font-size: 2.8em;
    }
    img{
      width: 40%;
      height: auto;
    }
  }

  #gallery{
    #gallery-container{
      img{
        width: 100vw;
        height: auto;
        margin-bottom: 10px;
      }
    }
  }
}
